@charset "utf-8";
main{
    text-align: center;
}
img {
    max-width: 100%;
}

h2 {
    color: #31D317;
    font-weight: bold;
}

p,
li {
    color: white;
}

body {
    background-image: url(../images/背景用.png);
    background-size: cover;
}

header nav h2 {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../images/フッターヘッダー.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    height: 110px;
}

header nav ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav img {
    position: absolute;
    left: 10%;
}

header h1 {
    width: 100%;
    background-image: url(../images/26366761_m.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header h1 div {
    display: flex;
    justify-content: center;
    width: 100%;
}

header h1 div img {
    position: relative;
    top: 3rem;
    left: 1rem;
}


.Sec01 {
    height: 11rem;
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.NewsSec {
    width: 33%;
    background-image: url(../images/木の看板横長-6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 27px;
    text-align: center;
    margin-right: 1rem;
}

.NewsSec nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.NewsSec li {
    margin-top: 1rem;
}


.conSec {
    width: 33%;
    background-image: url(../images/木の看板横長-6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 27px;
    text-align: center;
    margin-left: 1rem;
}

.conSec h2 {
    margin-top: 1rem;
}

.conSec p {
    margin-top: 1rem;
}

.sec02 {
    width: 40%;
    height: 15rem;
    background-image: url(../images/うぉバットがいるのはここだけ看板.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 30%;
    border-radius: 27px;
}

.sec02 ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
}

.sec02 ul p {
    padding: 2rem 0;
}

section .Wombats {
    background-image: url(../images/ウォンバット看板.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 45%;
    height: 250px;
    position: absolute;
    top: 1220px;
    border-radius: 27px;
    left: 29%;
}


.swiper {
    width: 50%;
    height: 250px;
    position: absolute;
    left: -15.5rem;

}


.swiper-slide img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 27px;
}


section .Wombats ul {
    text-align: center;
    position: absolute;
    left: 47%;
    top: 25%;
    border-radius: 27px;
}

section .menu h2 {
    width: 150px;   
    position: absolute;
    top: 1470px;
    left: 45%;
}

section .menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

section .menu ul li{
    margin-top: 1rem;
}


section .menuWrap img {
    height:200px;
    object-fit: cover;
    border-radius: 27px 27px 0 0;
}

section .menu1 {
    background-image: url(../images/MENU看板.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 19%;
    height: 445px;
    border-radius: 27px;
    position: absolute;
    top: 1680px;
    left: 20%;
}

section .menu2 {
    background-image: url(../images/MENU看板.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 19%;
    height: 445px;
    border-radius: 27px;
    position: absolute;
    top: 1680px;
    left: 40%;
}

section .menu3 {
    background-image: url(../images/MENU看板.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 19%;
    height: 445px;
    border-radius: 27px;
    position: absolute;
    top: 1680px;
    left: 60%;
}

section .ACCESS {
    background-image: url(../images/ACCESS看板.png);
    width: 65%;
    height: 350px;
    position: absolute;
    top: 2300px;
    left: 17%;
}

section .ACCESS h2 img {
    width: 20%;
    height: 140px;
    position: absolute;
left: 40%;
top: -43%;
}

.accWrap2 {
    display: none;
}

.accWraptext1 {
    position: absolute;
    top: 2.5rem;
    left: 4%;
    text-align: left;
}

.accWraptext1 li {
    padding-top: 1rem;
}


.accWraptext2 {
    width: 50%;
    position: absolute;
    top: 2rem;
    left: 15%;
    text-align: left;
}

.accWraptext2 li {
    padding-top: 2.1rem;
}

.Google iframe {
    object-fit: cover;
    position: absolute;
    left: 48%;
    border-radius: 0 27px 27px 0;
}

.snsWrap {
    position: absolute;
    top: 2700px;
    left: 23%;
    width: 20%;
    height: 100px;   
}

.snsWrap2 {
    display: none;
}

.snsWrap5 {
    display: none;
}

.snsWrap3 {
    position: absolute;
    top: 2700px;
    left: 55%;
    width: 17%;
}

body .tiktok-embed {
    margin: 0;
    padding: 0;
}

.snsWrap4 {
    display: none;
}

.snsWrap6 {
    display: none;
}


footer div {
    background-image: url(../images/フッターヘッダー.png);
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 3200px;
}

footer div img {
    width: 100px;
    height: 100px;
    margin-left: 46%;
}

@media screen and (min-width: 376px) and (max-width: 800px) {
    img {
        max-width: 800px;
    }

    p {
        font-size: 11px
    }


    /* .NewsSec li {
        margin-top: 0rem;
    } */

.sec02{
    width: 60%;
    position: absolute;
    left: 10rem;
}

.sec02 p{
    font-size: 16px;
}

section .Wombats{
    position: absolute;
    width: 60%;
    left: 17rem;
}

.swiper {
    width: 80%;
    position: absolute;
    left: -60%;

}

section .Wombats ul{
    text-align: center;
    position: absolute;
    left: 33%;
    top:32%
}
section .menu h2{
    left: 41%;
}



section .menu h2 img{
    width: 70%;
}

section .menuWrap img {
    height:150px;
    object-fit: cover;
    border-radius: 27px 27px 0 0;
}

section .menu1 {
    width: 30%;
    height: 445px;
    top: 1620px;
    left: 2%;
}

section .menu2 {
    width: 30%;
    height: 445px;
    top: 1620px;
    left: 35%;
}

section .menu3 {
    width: 30%;
    height: 445px;
    top: 1620px;
    left: 68%;
}
section .menu ul li{
    margin-top: 2rem;
}

section .ACCESS {
    width: 80%;
    height: 350px;
    position: absolute;
    top: 2190px;
    left: 7%;
}

section .ACCESS h2 img {
    width: 30%;
    height: auto;
    position: absolute;
left:38%;
top: -30%;
}

.snsWrap{
    display: none;
}

.snsWrap2{
    display: block;
    position: absolute;
    top: 2630px;
    left: 10%;
}

.snsWrap3{
    display: none;
}

.snsWrap4{
    display: block;
    position: absolute;
    top: 2630px;
    left: 52%;
}

footer div{
    top: 3050px;
}
}

@media screen and (max-width: 375px){

li , p{
    font-size: 12px;
}


header li{
    display: none;
}
header nav h2{
width: 100%;
height: 80px;
}

header h2 img{
    width: 70px;
    height: 70px;
    top: 0.3%;
}

header h1 div img{
    width: 80%;
    position: relative;
    left: 0 ;
}

section .Sec01{
    display: block;
}

.NewsSec{
    width: 130%;
    position: relative;
    left: -15%;
}

.conSec{
    width: 130%;
    position: relative;
    left: -21%;
}

.sec02{
    width: 80%;
    height: 160px;
    position: relative;
    left: 10%;
}

.sec02 ul{
    padding-top: 1rem;
}

.sec02 ul p {
    padding: 1rem 0;
}

section .Wombats {
    width: 90%;
    background-size: cover;
    position: absolute;
    top: 870px;
    left: 5%;
    height: 350px;
}
.swiper {
    width: 111%;
    height: 200px;
position: absolute;
left: -5.3%;
}

section .Wombats ul{
    top: 60%;
    left: 2%;
}

.menu h2 img{
width: 60%;
position: absolute;
top: -220px;
left: -2rem;
}

section .menuWrap img {
    height:100px;
    object-fit: cover;
    border-radius: 27px 27px 0 0;
}


section .menu1{
    width: 90%;
    height: 295px;
    position: absolute;
    left: 1rem;
    top: 1380px;
}

section .menu2{
    width: 90%;
    height: 295px;
    position: absolute;
    top: 1700px;
    left: 1rem;
}

section .menu3{
    width: 90%;
    height: 295px;
    position: absolute;
    top: 2020px;
    left: 1rem;
}

/* section .ACCESS {
    width: 80%;
    height: 350px;
    position: absolute;
    top: 2380px;
    left: 7%;
} */
section .ACCESS h2 img {
    width: 30%;
    height: auto;
    position: absolute;
left:35%;
top: -15%;
}

section .ACCESS {
    width: 90%;
    border-radius: 27px;
    background-repeat: no-repeat;
    position: absolute;
    left: 5%;
    top: 2380px;
}

.Google iframe {
    width: 100%;
    height: 150px;
    border-radius: 27px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 27px 27px 0 0;
}

.accWraptext1 {
    display: none;
}

.accWraptext2 {
    display: none;
}

.accWrap2 {
    display: block;
    font-size: 12px;
    position: absolute;
    top: 170px;
    left: 8%;
}
.snsWrap {
display: none;  
}

.snsWrap2 {
    display: none;
}
section .snsWrap5{
    display: block;
    position: absolute;
    top: 2750px;
    left: 10%;
}

.snsWrap3{
    display: none;
}

section .snsWrap6{
    display: block;
    position: absolute;
    top: 2980px;
    left: 10%;
    border-radius: 27px;
}

footer div img {
    width: 70px;
    height: 70px;
    margin-left: 9.5rem;
    margin-top: 0;
}
}